.container{
    width: 30%;
    margin: auto;
    margin-top: 50px;
    padding: 50px 50px 50px 50px;
    background-image: url("../Asset/login.jpg");
}
h2{
    text-align: center;
    color: rgb(3, 13, 16);
}